<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/style-teste.css">
</head>
<body>
  <main>
    <section id="section-login">
      <img src="../static/css/login-icon.svg" alt="">
      <div class="container-personal-data">
        <h1>Login</h1>
        <div class="container-login">
          <div class="input-data">
            <label for="email">Email</label>
            <input type="text" name="" id="email" placeholder="digite seu email">
          </div>
          <div class="input-data">
            <label for="password">Senha</label>
            <input type="password" name="" id="password" placeholder="digite sua senha">
          </div>
          <button type="submit">Entrar</button>
        </div>
        <p><a href="">Não possui uma conta ainda? Cadastre-se agora!</a></p>
      </div>
    </section>
  </main>
  
</body>
</html>