<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/style-teste.css">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <main>
    <section id="section-signup">
      <p>Cadastre-se</p>
      <div class="container-personal-data">
        <div class="container-signup">
          <div class="input-data">
            <label for="name">Nome completo</label>
            <input type="text" name="signup" id="name" placeholder="Escreva seu nome">
          </div>

          <div class="input-data">
            <label for="tel">Telefone</label>
            <input type="text" name="signup" id="password" placeholder="Digite seu telefone sem pontos ou traços ( . , - )">
          </div>

          <div class="input-data">
            <label for="email">Email</label>
            <input type="text" name="signup" id="email" placeholder="digite seu email">
          </div>

          <div class="input-data">
            <label for="password">Senha</label>
            <input type="password" name="signup" id="password" placeholder="digite sua senha">
          </div>

          <div class="input-data">
            <label for="password">Confirme a senha</label>
            <input type="password" name="signup" id="password" placeholder="digite sua senha">
          </div>

          <button type="submit">Entrar</button>
        </div>
        <p><a href="">Já possui uma conta? Entre por aqui</a></p>
      </div>
    </section>
  </main>
  
</body>
</html>