<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste Impacta</title>

    <link rel="stylesheet" href="/static/css/style-teste.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <section class="show" id="section-1">
      <div class="container-date">
        <p class="title">Agende seu horário</p>
        <div class="inputs">
          <p>Nome</p>
          <input
            type="text"
            name=""
            id="input-name"
            placeholder="digite seu nome"
          />
          <p>Data</p>
          <input type="date" name="" id="input-date"/>
          <p>Horário</p>
          <input type="time" name="" id="input-time" />
        </div>
      </div>

      <div class="services">
        <p class="title">Selecione o serviço</p>
        <div class="custom-radio">
          <input type="radio" id="banho" value="banho" name="services" />
          <label for="banho">Apenas banho</label>
        </div>
        <div class="custom-radio">
          <input
            type="radio"
            id="banho-tosa"
            value="banho-tosa"
            name="services"
            checked
          />
          <label for="banho-tosa">Banho & tosa</label>
        </div>
      </div>

      <div class="type-services">
        <p class="title">Escolha a tosa</p>

        <div class="type-services-inputs">
          <input
            type="radio"
            id="tosa-higienica"
            value="banho"
            name="type-services"
          />
          <label for="tosa-higienica">Higiênica</label>

          <input
            type="radio"
            id="tosa-baixa"
            value="banho-tosa"
            name="type-services"
          />
          <label for="tosa-baixa">Baixa</label>

          <input
            type="radio"
            id="tosa-media"
            value="banho-tosa"
            name="type-services"
          />
          <label for="tosa-media">Média</label>

          <input
            type="radio"
            id="tosa-alta"
            value="banho-tosa"
            name="type-services"
          />
          <label for="tosa-alta">Alta</label>

        </div>
      </div>

  
      <div class="buttons">
        <button id="btn-cancel">cancelar</button>
        <button id="btn-confirm">confirmar</button>
      </div>
    </section>

    <section class="hide" id="section-2">
      <div class="container-message">
        <p class="title">Seu agendamento foi concluído com sucesso!</p>
        <div class="block">
            <p id="type-service"><i>serviço</i></p>
            <p id="day-choosed">dia</p>

            <p>às <span id="time-choosed"></span></p>
        </div>
        <img src="{{url_for('static', filename='css/pana.svg')}}" alt="" />
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/teste.js')}}" type="module"></script>
  </body>
</html>
