@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500&display=swap');

.bg-background-color {
  background-color: #F7F7F9; /* Substitua pelos valores RGB que desejar */
}
.bg-confirm-color {
  background-color: #FFA31A;/* Substitua pelos valores RGB que desejar */
}

.btn-cancel{
  background-color: #F0F0F9;
}
.color-title{
  color: #211F51;
}

.light-blue-input{
  background-color: #E3E3F3;
}

.medium-blue{
  background-color: #5F6CAF;
}

.font-button-confirm{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-radius: 6px;
}

.custom-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Altere os valores conforme necessário */
}
.button-active {
  background-color: #211F51; /* Cor do fundo quando ativo (clicado) */
  color: #fff; /* Cor do texto quando ativo (clicado) */
}

.font-poppins{
  font-family: 'Poppins';
}
.login-img{
  margin-bottom: -8.5px;
}

.date-input::-webkit-calendar-picker-indicator {
  font-size: 24px; 
}

.time-input::-webkit-calendar-picker-indicator {
  font-size: 24px; 
}