:root {
  --cancel-color: #dfba96;
  --confirm-color: #ff8364;
  --background-color: #f5efe9;
  --title-color: #211f51;
  --red: #e3585d;
  --orange: #ff8364;
  --blue-one: #545197;
  --blue-two: #5f6caf;
  --light-text: #615f6d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  background-color: var(--background-color);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > * {
  margin: 10px 0;
}

.container p {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  border-radius: 22px;
  color: var(--red);
  text-shadow: rgb(251 205 205) -1px 1px 2px;
  font-family: 'Poppins', sans-serif;
}

input[type='time'] {
  width: 200px;
  height: 50px;
  font: 1.5em 'Inter', sans-serif;
  padding-left: 50px;
  color: var(--light-text);
  border: 2px solid var(--light-text);
  border-radius: 10px;
  margin: 20px 0;
}

button {
  color: white;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 3em;
}

.buttons button,
.services button,
#confirm-description {
  width: 160px;
  height: 45px;
  font-size: 20px;
  border-radius: 16px;
  border-style: none;
}

#confirm {
  background-color: var(--confirm-color);
}

#confirm:hover,
#cancel:hover,
.services button:hover {
  filter: saturate(1.3);
}

#cancel {
  background-color: var(--cancel-color);
}

a {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

/* styles choose-service.html */
.services {
  margin-top: 150px;
}

.services > * {
  margin: 10px;
}

.services button {
  background-color: var(--red);
  width: 260px;
  height: 60px;
  font-size: 26px;
}

.services button:hover {
  background-color: #d9232a;
}

p {
  min-width: 300px;
  color: var(--title-color);
  text-align: center;
  align-self: center;
  font-weight: 500;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  /* background-color: transparent; */
  /* border-radius: 22px; */
}

.hide {
  visibility: hidden;
}

.type-grooming {
  margin-top: 60px;
}

.type-grooming > * {
  margin: 10px 0;
}

.container-types-grooming {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.container-types-grooming button {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  background: var(--blue-two);
}

.container-types-grooming button:hover {
  background: var(--title-color);
}

#confirm-service {
  margin-top: 50px;
  width: 230px;
  height: 60px;
  font-size: 26px;
  background: #f78c56;
  border: none;
  border-radius: 22px;
}

#confirm-service:hover {
  background: #d95716;
}

/* styles describe-pet.html */

.describe-pet {
  margin: 0 0 50px;
}

.describe-pet h1 {
  font-size: 30px;
}

.block {
  min-width: 324px;
  margin: 15px 0;
}

.block > * {
  margin: 8px 0;
}

.block p {
  font-size: 22px;
  font-weight: 500;
}

.block input {
  width: 270px;
}

.block textarea {
  width: 300px;
}
.block input,
.block textarea {
  background-color: white;
  border: none;
  min-height: 40px;
  padding: 10px;
}

.type,
.size,
.weigth,
.stars,
.observations {
  margin-left: 16px;
}

.type {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.type button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: var(--orange);
  font-size: 20px;
}

.size button:hover,
.type button:hover {
  background-color: var(--blue-two);
}

.size {
  display: flex;
  justify-content: center;
}

.size button {
  background-color: var(--orange);
  padding: 15px 35px;
  border-radius: 15px;
  border: none;
  margin: 0 8px;
  font-size: 20px;
}

.stars img {
  cursor: pointer;
}

#confirm-description {
  width: 170px;
  border-radius: 12px;
  background-color: var(--red);
}

#confirm-description:hover {
  background-color: #c6363b;
}

/* styles select.html */

/* styles end-page.html */

.container-message{
  background: hsla(0, 0%, 100%, 0.878);
}